
<div class="card-title-w-btn">
    <h3 class="card-title">Journal Entry</h3>
    <a href="#/addjournals"><i class="fa fa-circle-o"></i> Add Journal </a>
  

    <div class="row">

        <form ng-submit="filterfromdate(s)">
            <div class="col-md-1">FROM</div>
            <div class="col-md-3">
                <div class="form-group">
                    <input class="form-control" type="date" placeholder="search" ng-model="s.SearchFrom">

                </div>
            </div>
            <div class="col-md-1">TO </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input class="form-control" type="date" placeholder="search" ng-model="s.SearchTo">
                </div>
            </div>
            <button class="btn btn-default" type="submit" placeholder="search">Search</button>

           

            </form>
        <div class="col-md-4">
            <input class="form-control" type="text" placeholder="search" ng-model="searchi">
        </div>
</div>
   
    <a href="#/purchases"><i class="fa fa-circle-o"></i> Reset Filter </a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Transaction Date</th>
                <th>Transaction Name</th>
               
                <th>User</th>
                <th>GL Name</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Transactions Type</th>
                <th>Transactions Description</th>
              

                
              
               

            </tr>
        </thead>
        <tbody ng-repeat="items in   journalresult | filter :searchi |limitTo:itemsq :(currentPage-1)*itemsq">
            <tr>
                <td>
                   {{$index+1}}
                </td>
                <td>{{items.journal_date}}</td>
                <td>{{items.journal_name}}</td>
                            <td>{{items.user_name}}</td>
                                <td>{{items.gl_name}}</td>
                <td>{{items.Debit_Amount}}</td>
                <td>{{items.Credit_Amount}}</td>
                <td>{{items.transactions_type}}</td>
                <td>{{items.transaction_descriptions}}</td>
           

        </tbody>


    </table>
  <ul uib-pagination total-items="journalresult.length"  items-per-page="itemsq"  ng-model="currentPage"  max-size="5" boundary-links="true" num-pages="numPages"></ul>
</div>



    <div class="content-wrapper">

        <div id="content" class="content-container animate-fade-up" data-ui-view=""> </div>

    </div>

